<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="zigzag">エアコンの操作</div>
    <div class="menue">
        <div class="quoter_box">
            <a href="air_on" class="btn-gradient">電源ON（自動）</a>
        </div>
        <div class="quoter_box">
            <a href="#" class="btn-gradient">温度を上げる</a>
        </div>
        <div class="quoter_box">
            <a href="#" class="btn-gradient">温度を下げる</a>
        </div>
        <div class="quoter_box">
            <a href="#" class="btn-gradient">電源OFF</a>
        </div>
    </div>
</body>
</html>



