<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/style_air_on.css">
    <script async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS_CHTML"></script>
</head>
<body>
    <div class="wrapper">
    <div class="zigzag">
	</div>
	
	<div id="teamb_logo">
		<img src="../static/teamb.png" height="150px" width="200px">
	</div>

	<div class="title">
		<a>問題</a>
	</div>
	
	<div class="question">
		次の不定積分を求めなさい。<br>（ただし、eは自然対数の底を表します）<br>
		 \(\int_0^1 x^2 e^{3x} dx\)
	</div>
	
	<div class="option">
		A. \(e^{3x}(9x^2-6x+2)+C\)(Cは積分定数)
	</div>
	<div class="option">
		B. \(e^{3x}(9x^2-6x+2)+C\)(Cは積分定数)
	</div>
	<div class="option">
		C. \(e^{3x}(9x^2-6x+2)+C\)(Cは積分定数)
	</div>
	<div class="option">
		D. \(e^{3x}(9x^2-6x+2)+C\)(Cは積分定数)
	</div>
	
	
	<div class="parent">
		<div class="inline-block_test">
			<div class="select_machines">
				<a href="result_air" class="select_contents">A</a>
			</div>
		</div>
		
		<div class="inline-block_test">
			<div class="select_machines">
				<a href="#" class="select_contents">B</a>
			</div>
		</div>

		<div class="inline-block_test">
			<div class="select_machines">
				<a href="#" class="select_contents">C</a>
			</div>
		</div>
		
		<div class="inline-block_test">
			<div class="select_machines">
				<a href="#" class="select_contents">D</a>
			</div>
		</div>
	</div>
	</div>
</body>
</html>



