<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="wrapper">
        <div class="zigzag">
        </div>
        <!-- <div class="gizagiza"></div> -->

        <div id="teamb_logo">
            <img src="../static/teamb.png" height="150px" width="200px">
        </div>

        <div class="title">
            <a>せんたく</a>
        </div>

            <div class="select_machines">
                <a href="tv" class="select_contents">TVを操作</a>
            </div>
            </br>
            <div class="select_machines">
                <a href="air" class="select_contents">エアコンを操作</a>
            </div>
            </br>
            <div class="select_machines">
                <a href="light" class="select_contents">電気を操作</a>
            </div>

        <!-- <p class="footer_logo">カントリーマアム(バニラ)</p> -->
        <p class="footer_logo">カントリーマアム（バニラ）</p>
        <!-- <p class="footer_logo">COUNTRY MA'AM</p> -->

        <div class="fotter">
            <div class="zigzag_bottom">
            </div>
        </div>
    </div>
</body>

</html>
