<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/styles_machine_mode.css">
</head>
<body>
        <div class="zigzag"></div>
        <div id="teamb_logo">
            <img src="../static/teamb.png" height="150px" width="200px">
        </div>
      
        <div class="title">
            <a>電灯の操作</a>
        </div>
      
        <div class="menue">
          <div class="select_machines">
              <a href="light_on" class="select_contents">全灯</a>
          </div>
          <div class="select_machines">
              <a href="#" class="select_contents">消灯</a>
          </div>
      
          <p class="footer_logo">カントリーマアム（バニラ）</p>
        </div>
      
        <div class="fotter">
            <div class="zigzag_bottom">
            </div>
        </div>
      </body>
      </html>