<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/style_air_on.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="zigzag">--</div>
    <div class="menue" style="background-color: #EBE7CC">
        <br>
        <div class="title_2">問題</div>
        <div class="question_2">
                英大文字のみからなる文字列Sがあります。また、整数 Nが与えられます。<br>
                Sの各文字を、アルファベット順で N個後の文字に置き換えた文字列を出力してください。<br>
                ただしアルファベット順で Z の 1個後の文字は A とみなします。<br>
        </div> 
        <br>
        <div class="title_2">入力例</div>
        <div class="question_2">
            2<br>
            ABCXYZ
        </div>
        <br>
        <div class="title_2">出力列</h2>
        <div class="question_2">
            CDEZAB
        </div>
        <div class="btn-group">
                <div class="btn-group">
                    <button class="btn btn-default dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-search"></i> <span class="caret"></span></button>
                    <ul class="dropdown-menu" id="font-size">
                    <li><a href="#" data-size="10">小さい</a></li>
                    <li><a href="#" data-size="12">普通</a></li>
                    <li><a href="#" data-size="14">大きい</a></li>
                    </ul>
                </div>
                <button id="bold" class="btn btn-default"><i class="glyphicon glyphicon-bold"></i></button>
                <button id="save" class="btn btn-default"><i class="glyphicon glyphicon-floppy-save"></i></button>
                <button id="load" class="btn btn-default"><i class="glyphicon glyphicon-folder-open"></i></button>
            </div>
            ​
              <div id="editor" style="height: 600px"></div>
              <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.0/ace.js"></script>
              <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.0/ext-language_tools.js"></script>
              <script src="https://cloud9ide.github.io/emmet-core/emmet.js"></script>
              <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.0/ext-emmet.js"></script>
              <script>
                var editor = ace.edit("editor");
                editor.setTheme("ace/theme/monokai");
                editor.setFontSize(14);
                editor.getSession().setMode("ace/mode/html");
                editor.getSession().setUseWrapMode(true);
                editor.getSession().setTabSize(2);
                editor.$blockScrolling = Infinity;
                editor.setOptions({
                    enableBasicAutocompletion: true,
                    enableSnippets: true,
                    enableLiveAutocompletion: true
                });
                editor.setOptions({
                    enableEmmet: true
                }); 
                $('#font-size').click(function(e) {
                  editor.setFontSize($(e.target).data('size'));
                });
                $('#bold').click(function(e) {
                  editor.insert('<strong>' + editor.getCopyText() + '</strong>');
                });
                $('#save').click(function(e) {
                  localStorage.text = editor.getValue();
                  alert("保存しました。");
                });
                $('#load').click(function(e) {
                  if (!confirm("読み込みますか？")) return;
                  editor.setValue(localStorage.text, -1);
                });
              </script>
        
        <div class="inline-block_test">
            <div class="select_machines">
                <a href="result_light" class="select_contents">実行</a>
            </div>
        </div>
    </div>
</body>
</html>



