<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="zigzag">問題</div>
    <div class="menue">
        <h2>問題</h2>
        <div class="question">
                英大文字のみからなる文字列Sがあります。また、整数 Nが与えられます。<br>
                Sの各文字を、アルファベット順で N個後の文字に置き換えた文字列を出力してください。<br>
                ただしアルファベット順で Z の 1個後の文字は A とみなします。<br>
        </div> 
        <h2>入力例</h2>
        <div class="example-input">
            2
            ABCXYZ
        </div>
        <h2>出力列</h2>
        <div class="example-putput">
            CDEZAB
        </div>
        <textarea class="code-editor"></textarea>
        
        <div class="btn-gradient">
            実行
        </div>
    </div>
</body>
</html>



