<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="../static/style_1.css">
	</head>

	<body>
  <h1>エアコンをつける</h1>
<div>
	<h2>問題</h2>
	<p>CGM(Consumer Generated Media)の説明はどれか</p>
	<div href="/question1" class="select_machine">オークション形式による物品の売買機能を提供することによって，消費者同士の個人売買の仲介役を果たすもの</div></br>
	<div href="/question1" class="select_machine">個人商店主のオンラインショップを集め，共通ポイントの発行やクレジットカード決済を代行するもの</div></br>
	<div href="/question1" class="select_machine">個人が制作したディジタルコンテンツの閲覧者・視聴者への配信や利用者同士の共有を可能とするもの</div></br>
	<div href="/answer_for_air" class="select_machine">自社の顧客のうち，希望者をメーリングリストに登録し，電子メールを通じて定期的に情報を配信するもの</div></br>
</div>

</body>

