<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/style.css">
    <script async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS_CHTML"></script>
</head>
<body>
    <div class="zigzag">結果</div>
    <div class="menue">
        <div class="title">
            正しい答え
        </div>
        <div class="true-phrase">
            Thank you for reading my blog.
        </div>
        <div class="title">
            あなたの答え
        </div>
        <div class="your-phrase">
            Thank you for reading my blog.
        </div>
    </div>
</body>
</html>



