<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="zigzag">TVの操作</div>
    <div class="menue">
        <div class="quoter_box">
            <a href="tv_on" class="btn-gradient">電源ON</a>
        </div>
        <div class="quoter_box">
            <a href="#" class="btn-gradient">チャンネルを変える（+1）</a>
        </div>
        <div class="quoter_box">
            <a href="#" class="btn-gradient">チャンネルを変える（-1）</a>
        </div>
        <div class="quoter_box">
            <a href="#" class="btn-gradient">電源OFF</a>
        </div>
    </div>
</body>
</html>



