<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/styles_machine_mode.css">
</head>
<body>
    <div class="zigzag"></div>
	<div id="teamb_logo">
		<img src="../static/teamb.png" height="150px" width="200px">
	</div>
	<div class="title">
		<a>復唱してください</a>
	</div>
	<div class="select_machines">
		<a href="voice" class="select_contents">音声を再生</a>
	</div>
	<div class="select_machines">
		<a href="result_tv" class="select_contents">録音をする</a>
	</div>
</body>
</html>



